---
layout: default
---
<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->

                <article>
                    <header>
                        <h2>About the BP/SD Consortium</h2>
                        <p>Funded by the National Science Foundation</p>
                    </header>

                    <span class="image featured"><img src="/images/banner.jpg" alt="" /></span>

                    {{ content }}
                    
                </article>

        </div>
    </div>
</section>