---
layout: default
---
<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->

                <article>
                    <header>
                        <a class="image left"><img src="/images/pic01.jpg" alt="" /></a>
                        <div class="inner">
                            <h2>{{ page.name }}</h2>
                            <p>{{ page.position }}<br>{{ page.department }}<br>{{ page.institution }}</p>
                        </div>
                    </header>
                    <br>

                    {{ content }}
                    
                </article>

        </div>
    </div>
</section>